<div class="mmain-div">
    <div class="firrst-div">
        <h2>Discover YAZIO</h2>
        <div class="firrst-subdiv">
            <div>
                <img src="https://images.yazio.com/frontend/yazio-features/en/calorie-counter.png?w=250" alt="">
                <p class="calorie">Calorie Counter</p>
                <p class="benefit">Benefit from the fastest and <br> most user-friendly calorie <br> counter you've ever
                    downloaded.</p>
            </div>
            <div class="sub-div">
                <img src="https://images.yazio.com/frontend/yazio-features/fasting.png?w=250" alt="">
                <p class="calorie">Intermittent Fasting</p>
                <p class="benefit">Our 16:8, 5:2 and 6:1 fasting plans <br> and countdown feature make <br> intermittent
                    fasting a breeze!</p>
            </div>
            <div class="sub-div">
                <img src="https://images.yazio.com/frontend/yazio-features/en/recipes.png?w=250" alt="">
                <p class="calorie">Recipes</p>
                <p class="benefit">Our 16:8, 5:2 and 6:1 fasting plans <br> and countdown feature make <br> intermittent
                    fasting a breeze!</p>
            </div>
            <div class="sub-div">
                <img class="automatic" src="https://images.yazio.com/frontend/yazio-features/tracking-ios.png?w=500"
                    alt="">
                <p class="calorie">Automatic Tracking</p>
                <p class="benefit">Benefit from the fastest and <br> most user-friendly calorie <br> counter you've ever
                    downloaded.</p>
            </div>
        </div>
    </div>


    <div class="secondd-div">
        <h2>Success Stories</h2>
        <div class="secondd-subdiv">
            <div>
                <p class="age">Amber, 40</p>
                <img class="img" src="https://images.yazio.com/frontend/success-stories/84-success-story-amber.jpg?w=350" alt="">
                <div class="innitflex">
                    <img src="https://assets.yazio.com/frontend/images/icons.svg#large-quote-sign-other" alt="">
                    <p>Between running and biking every day, <br> my weight has started coming down <br> again and I
                        have started seeing my body <br> become very sculpted... Continue reading</p>

                </div>
            </div>
            <div class="secsub-div">
                <p class="age">Dennis, 25</p>
                <img class="img" src="https://images.yazio.com/frontend/success-stories/51-success-story-dennis.jpg?w=350" alt="">
                <div class="innitflex">
                    <img src="https://assets.yazio.com/frontend/images/icons.svg#large-quote-sign-other" alt="">
                    <p>
                        If you want to accomplish something, <br> then you will accomplish it, regardless of <br> how bumpy the road
                        is. I <br> always told myself: I can't... Continue reading</p>
                </div>

            </div>
        </div>
        <button>All Success Stories</button>
    </div>

    <div class="thirdd-div">
        <h2>About Us</h2>
        <div class="thirdd-subdiv">
            <img src="https://images.yazio.com/frontend/team/team-2021-10.jpg?w=345" alt="">
            <div>
                <p>Behind the YAZIO app, you’ll find our motivated <br> and enthusiastic team. We truly believe in the <br> transformative power of healthy eating. With <br> YAZIO, we're helping people live <br> healthier lives through better nutrition.</p>
                <button>Learn More</button>
            </div>
        </div>
    </div>

    <div class="fourth-div">
        <h2>People Love YAZIO</h2>
        <p class="star">Hundreds of thousands of 5-star ratings</p>
        <div class="fourthsub-div">
            <div>
                <p class="star">Maria, 42</p>
                <p class="p">Exactly what I was looking for! Appealing <br> design, clear and organized, great functions <br> and foods that are easy to find. I tested the <br> free version and then downloaded the PRO. <br> Completely satisfied! 5 stars earned!</p>
            </div>
            <div class="fthsub-div">
                <p class="star">Daniel, 36</p>
                <p class="p">I'm crazy about the app. The user concept and <br> interface design are great! I also lost a good <br> amount of weight in a short period of time <br> without torturing myself. I've already upgraded <br> to PRO to help support the app's further <br> development.</p>
            </div>
            <div class="fthsub-div">
                <p class="star">Anna, 26</p>
                <p class="p">I've tried so many apps, but YAZIO is the first <br> app that has actually helped me lose weight. <br> After just one week, I was able to learn all the <br> tricks I needed to use the app effectively. I've <br> now been using YAZIO PRO for a year.</p>
            </div>
        </div>
    </div>

    <div class="fifth-div">
        <p class="myp">Download the YAZIO app</p>
        <div class="fifth-subdiv">
            <img src="https://assets.yazio.com/frontend/images/button-app-store-en.svg" alt="">
            <img class="img1" src="https://assets.yazio.com/frontend/images/button-play-store-en.svg" alt="">
        </div>
        <button>Need help?</button>
        <p class="footer">Copyright © 2024 YAZIO. All rights reserved. Contact | Privacy Policy | Cookies | Cancel Subscription</p>
    </div>
</div>