<div class="mainn-div">
    <div class="first-div">
        <h1>Welcome to a <br> healthier life.</h1>
        <div class="first-subdiv">
            <img src="https://assets.yazio.com/frontend/images/icons.svg#icon-ok-filled" alt="">
            <p>Lose weight</p>
        </div>
        <div class="first-subdiv">
            <img src="https://assets.yazio.com/frontend/images/icons.svg#icon-ok-filled" alt="">
            <p>Build muscle</p>
        </div>
        <div class="first-subdiv">
            <img src="https://assets.yazio.com/frontend/images/icons.svg#icon-ok-filled" alt="">
            <p>Eat healthier</p>
        </div>
        <button>Create My Plan</button>
    </div>
    <div class="second-div">
        <img src="https://images.yazio.com/frontend/phone-mockups/ios-diary-en.png?w=640" alt="">
    </div>
    <div class="third-div">
        <img src="https://assets.yazio.com/frontend/images/badge-app-store-app-of-the-day.svg" alt="">
        <br>
        <img class="img2" src="https://assets.yazio.com/frontend/images/badge-android-excellence.svg" alt="">
        <p>4.7 stars, over 1M ratings</p>
        <!-- <p>⭐⭐⭐⭐⭐</p> -->
        <!-- <img src="https://assets.yazio.com/frontend/images/icons.svg#icon-star-filled" alt=""> -->
    </div>
</div>



